*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#0a0a0a;
  color:white;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:rgba(0,0,0,0.8);
}

.navbar a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.navbar a:hover{
  color:#ff4d4d;
}

/* HERO */
.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5')
  center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay{
  background:rgba(0,0,0,0.6);
  padding:50px;
  border-radius:15px;
  text-align:center;
}

.hero-buttons a{
  display:inline-block;
  margin:10px;
  padding:12px 25px;
  border-radius:30px;
  text-decoration:none;
  background:#ff4d4d;
  color:white;
}

/* SECCIONES */
section{
  padding:80px 20px;
  text-align:center;
}

/* ABOUT */
.about{
  background:#111;
}

/* MENU */
.menu-item{
  display:flex;
  gap:20px;
  background:#1a1a1a;
  margin:20px auto;
  max-width:800px;
  border-radius:15px;
}

.menu-item img{
  width:250px;
}

.menu-text{
  padding:20px;
  text-align:left;
}

/* GALERIA */
.gallery img{
  width:300px;
  margin:10px;
  border-radius:10px;
}

/* UBICACION */
.location{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.location iframe{
  width:350px;
  height:250px;
}

.btn{
  display:inline-block;
  margin-top:10px;
  padding:10px 20px;
  background:#ff4d4d;
  color:white;
  text-decoration:none;
}

/* FOOTER */
footer{
  padding:20px;
  background:black;
}

/* WHATSAPP */
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  padding:15px;
  border-radius:50%;
  color:white;
}
